*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

body{
    background-color: #121725;
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
}

img{
    width:100%;
}