*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

body{
    background-color: #121725;
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
}

img{
    width:100%;
}

.color-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    left: 12%;
    top:10%;
    margin-top: 120px;
}


.item-1{
    background-color: #54E6AF;
    background: #54E6AF;
    border-radius: 10px;
    height:auto;
    width: 15%;
    padding:27px;
}



.item-1 span{
    display:block;
}

.color-header{
font-size: 24px;
line-height: 24px;
}

.color-rgb{
    font-size: 16px;
    line-height: 24px;
    line-height: 24px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.color-hsl{
    font-size: 16px;
    line-height: 24px;
}


.line-break{
    width: 100%;
}